.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.page-container{
  display: flex;
  flex-direction: column;
  min-width: 100vw;
 

}

.content-wrap{
  flex: 1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gap{
  
  margin-bottom:16px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 15rem;
  position:absolute;
}


  
.Button {
  position:absolute;
  justify-content: center;
  align-items: center;
 


Width: 1px;
}

.CardImg {
  position:absolute;
  justify-content: center;
  align-items: center;
}

.CardText {
  position:absolute;
  justify-content: center;
  align-items: center;
  font-size:10px;
}

.Card {
  position:absolute;
  justify-content: center;
  align-items: center;
}


@media (min-width:600px) and (max-width:800px) {
  div {
    background:blue;
  }
}

@media(max-width:600) {
  .footer
{
    width: 100%;
  }
}

@media(max-width:600) {
  .Navbar{

    width: 100%;
  }
}

@media(max-width:600) {
  .div
{
    width: 100%;
    height:100%;
  }
}
